.footer {
        
    &__logo {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            
            font-family: $font-minor;
            font-weight: 700;
            font-size: 24px;
            line-height: 1.17;
            color: $color-background;
            text-decoration: none;
        }
    
    &__list>li {

        display: flex;
        justify-content: center;
        margin-bottom: 9px;
    }

    &__link {
        display: block;        
        
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        line-height: 1.71;
        font-style: normal;
    }
    @media (min-width: 768px) {
        .footer-wrapper {
                display: flex;
                margin-left: 76px;
                margin-right: 89px;
                margin-bottom: 60px;
                justify-content: space-between;
            }
        align-items: baseline;                
        
        }
    @media (min-width: 1200px) {

        display: flex;
        align-items: baseline;

        .footer-wrapper {                
                margin-left: 0;
                margin-right: 0;  
                margin-bottom: 0;              
            }

        &__logo {
                justify-content: left;
                margin: 0 0 20px 0;
                font-size: 26px;
                line-height: 1.19;
            }
        &__list>li {
            justify-content: left;
        }
        &__list>li:not(:last-child) {
            
            margin-bottom: 9px;
        }
                    
    }

    &__font {
        padding: 60px 0;
        background-color: $color-bg-dark;
        font-size: 14px;
        line-height: 1.71;        
        }
    

    &__link--adress {
        color: $color-background;
        text-decoration: none;
        line-height: 1.71;
        font-style: normal;
    }
    
    
    &__modal {
        margin-left: auto;
    }

    &__email-input {
        display: block;

        @media screen and (min-width: 1200px) {

        display: flex;
        }
    }

    &__email {
        display: block;
        width: 450px;
        height: 50px;
        margin: 0 auto 20px auto;
        padding-left: 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: $color-bg-dark;
    
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

        @media screen and (max-width: 479px) {
        
                max-width: calc(100vw - 30px);
            }

        @media screen and (min-width: 768px) {
        
                width: 450px;               
            }

        @media screen and (min-width: 1200px) {
    
            width: 358px;
            height: 50px;
            margin: 0 12px 0 0;    
        }
    }

    &__button {
        margin-right: auto;
        margin-left: auto;
        padding: 10px 64px 10px 31px;
        display: flex;
        position: relative;
        justify-content: center;

        @media screen and (min-width: 1200px) {

    padding: 10px 62px 10px 28px;
    
        }
    }
}

