.list-box {
    gap: 30px;

    @media screen and (min-width: 768px) {
        display: flex;
       flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {

        display: flex;
        flex-wrap: wrap;
    }

    &__col3>li {
        @include width-column(3);
    }

    &__col4>li {
        @include width-column(4);
        @media screen and (min-width: 768px) and (max-width: 1199px){
            @include width-column(2);
        }
    }

    &__col6>li {
        @include width-column(6);
    }
}

@media screen and (max-width: 767px) {
    .list-box__current {
    display: flex;
    flex-wrap: wrap;
    }
}