$color-primary: #212121;
$color-minor: #757575;
$color-background: #ffffff;
$color-background-section: #f5f4fa;
$color-activ: #2196f3;
$color-activ-button: #188ce8;
$color-frame: #eeeeee;
$color-bg-dark: #2f303a;
$color-bg-head: #C4C4C4;
$color-icons: #AFB1B8;
$color-footer-social: rgba(255, 255, 255, 0.1);

$font-primary: "Roboto", sans-serif;
$font-minor: "Raleway";